<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none" style="padding-top: 5px; padding-bottom: 0px;">
		<img src="/img/logo.png" alt="PathogensGBA logo" style="max-height: 60px; width: auto;"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/about" class="pa3 no-underline db">About</a></li>
		<li><a href="/agenda" class="pa3 no-underline db">Agenda</a></li>
		<li><a href="/team" class="pa3 no-underline db">Team</a></li>
<!--
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
-->
		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>

		<li><a href="/img/proceeding.pdf" class="pa3 no-underline db">Proceeding</a></li>
<!--
                <li><a href="https://www.eventbrite.hk/e/symposium-on-pathogens-in-the-guangdong-hong-kong-macau-greater-bay-tickets-265716163197?aff=WebsiteNav" class="pa3 no-underline db">Register</a></li>
	</ul>
-->
</nav>
