<form action="https://app.us14.list-manage.com/subscribe/post?u=ae8cd4d3e7abc0948f64b94ea&amp;id=29dd021771" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex-ns mb3" target="_blank" novalidate>

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="email" value="" name="EMAIL" class="required email w-100" id="email">
    <label for="email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

</form>
