<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <img src="/img/name.svg" alt="PathogensGBA logo" class="f2 b lh-title mb2 w-40-l"/>
    <h2 class="f2 b lh-title mb2 w-40-l center">{{.heading}}</h>
  </div>
</div>
