{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}
<div class="pv4 bg-off-white">
	<div class="ph3 mw7 center">

    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .programme }}
    <li>
      <strong>{{ .time }}</strong>
      <span style="display: inline-block; vertical-align: top; max-width: 90%;">
      {{ .title }}
      {{ with .youtube }}
      (<a href="{{ . }}">recording on YouTube</a>)
      {{ end }}
      {{ with .speaker }}
      <br>{{ . }}
      {{ end }}
      {{ with .job }}
      ({{ . }})
      {{ end }}
      </span>
    </li>
    {{ end }}
    </ul>

    <h2 class="f3 b lh-title mb2">Ectoparasites zoonotic vector-borne pathogens</h2>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .session1 }}
    <li>
      <strong>{{ .time }}</strong>
      <span style="display: inline-block; vertical-align: top; max-width: 90%;">
      {{ .title }}
      {{ with .youtube }}
      (<a href="{{ . }}">recording on YouTube</a>)
      {{ end }}
      {{ with .speaker }}
      <br>{{ . }}
      {{ end }}
      {{ with .job }}
      ({{ . }})
      {{ end }}
      </span>
    </li>
    {{ end }}
    </ul>
    <p>Panel discussion with:<p>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .panel1 }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>

    <h2 class="f3 b lh-title mb2">Other zoonotic vector-borne pathogens</h2>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .session2 }}
    <li>
      <strong>{{ .time }}</strong>
      <span style="display: inline-block; vertical-align: top; max-width: 90%;">
      {{ .title }}
      {{ with .youtube }}
      (<a href="{{ . }}">recording on YouTube</a>)
      {{ end }}
      {{ with .speaker }}
      <br>{{ . }}
      {{ end }}
      {{ with .job }}
      ({{ . }})
      {{ end }}
      </span>
    </li>
    {{ end }}
    </ul>
    <p>Panel discussion with:<p>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .panel2 }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>


    <h2 class="f3 b lh-title mb2">FAIR Data applied to zoonotic vector-borne pathogens</h2>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .session3 }}
    <li>
      <strong>{{ .time }}</strong>
      <span style="display: inline-block; vertical-align: top; max-width: 90%;">
      {{ .title }}
      {{ with .youtube }}
      (<a href="{{ . }}">recording on YouTube</a>)
      {{ end }}
      {{ with .speaker }}
      <br>{{ . }}
      {{ end }}
      {{ with .job }}
      ({{ . }})
      {{ end }}
      </span>
    </li>
    {{ end }}
    </ul>
    <p>Panel discussion with:<p>
    <ul style="margin-bottom: var(--spacing-medium);">
    {{ range .panel3 }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>


</div>
</div>

{{ end }}

{{ end }}
