{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="pv4 bg-off-white">
	<div class="ph3 mw7 center">

		{{ .Content }}

	</div>
</div>

{{ end }}
