{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}
<div class="pv4 bg-off-white">
	<div class="ph3 mw7 center">

    <h3 class="f3 b lh-title mb2">Advisor</h3>
    <ul>
    {{ range .advisor }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>
    <h3 class="f3 b lh-title mb2">Symposium Chair</h3>
    <ul>
    {{ range .chair }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>
    <h3 class="f3 b lh-title mb2">Ectoparasites Zoonotic Vector-Borne Pathogens Session</h3>
    <p><strong>Scientific Committee</strong> (in alphabetical order):</p>
    <ul>
    {{ range .session1 }}
    <li>{{ .name }}</li>
    {{ end }}
    </ul>
    <h3 class="f3 b lh-title mb2">Other Zoonotic Vector-Borne Pathogens Session</h3>
    <p><strong>Scientific Committee</strong> (in alphabetical order):</p>
    <ul>
    {{ range .session2 }}
    <li>{{ .name }}<li>
    {{ end }}
    </ul>
    <h3 class="f3 b lh-title mb2">Open Data Applied to Zoonotic Vector-Borne Pathogens Session</h3>
    <p><strong>Scientific Committee</strong> (in alphabetical order):</p>
    <ul>
    {{ range .session3 }}
    <li>{{ .name }}<li>
    {{ end }}
    </ul>

</div>
</div>

{{ end }}

{{ end }}
